@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

:root {
  --main-color: #ADB8BA;
  --secondary-color: #87B2B8;
  --tertiary-color: #76A6CD;
  --accent-color: #48699C;
  --text-shadow-color: #B0C4DE; /* Light blue color */
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

nav {
  padding-top: 40px;
  position: relative;
  height: 150px; /* Adjust as needed to fit both sprite and skyline */
  background-color: var(--accent-color);
  
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
 
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

